@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

body{
    font-family: 'Lexend' ,'Courier New', Courier, monospace;
}
.extra-lexa{
    font-family: 'Lexend', sans-serif;
    font-weight: 400;
}
.gray-bold{
    font-weight: 600;
    color: #727272;
}
.lexend{
    font-family: 'Lexend' ,'Courier New', Courier, monospace;
}